*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    font-family: sans-serif;
    color: blue;
}

.content{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
   
}



.biggest-footer{
    background-color: #001935;
    color: white;
}
.big-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    background-color: #001935;
    color: white;
    padding: 2rem;
}

.contact p{
    font-size: 1.35rem;
}
.contact-text{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;

}
.subhead{
    font-size: 1.1rem;
    font-family: sans-serif;
}
.subhead a{
    transition: 0.5s;
}
.subhead a:hover{
    color: rgb(48, 48, 228);
}
.foot-logo img{
    width: 18rem;
}
.follow-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}
.follow-logo img{
    width: 3rem;

}
.last {
    text-align: center;
    font-family: sans-serif;
}

.last:hover{
    color: rgb(212, 207, 207);
    cursor: pointer;
}

.venue-gallery-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

}
.venue-gallery-div button{
    padding: 0.5rem  1rem 0.5rem 1rem;
    
}


#navbar{
    background-color:  #282843;
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
  
   
}
 .logo1{
    height: 9.5vh;
    width:100px;  
}

.nav-item ul{
    display: flex;
    gap: 85px;
    margin-left: -120px;
    margin-top: 20px;
}
.nav-item ul li{
    list-style: none;
    color: white;
    font-family: Montserrat,sans-serif;
    /* font-weight: bold; */ 
    font-size: 1.4rem;
    letter-spacing: .1rem;
    cursor: pointer;
}

.logo{
    margin: 0 300px;
   
}


.nav-item ul li{
    list-style: none;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.nav-item ul a{
    text-decoration: none;
}
.item{
    padding: 0.6rem 0.9rem;
}
 .item:hover{
    background-color: #0479ff;
    border-radius: 2rem;
    color: #fff;
    padding: 0.6rem 0.9rem;  
}

.navbar-div {
    -webkit-animation: slideUp .8s ease .2s forwards;
    animation: slideUp .8s ease .2s forwards;
    gap: 5rem;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}





@media screen and (max-width:768px){
    .big-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}